<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="/">
        <img src="/static/assets/img/brand/blue.png" class="navbar-brand-img" alt="Argon Design - Jinja Template Logo.">
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'index1' in segment %} active {% endif %}" href="{% url 'index1' %}">
              <i class="ni ni-tv-2 text-primary"></i>
              <span class="nav-link-text">Dashboard</span>
            </a>
         
          
          <li class="nav-item">
            <!-- Add new nav items or leave as needed -->
          </li>
          
          <li class="nav-item">
            <a class="nav-link {% if '' in segment %} active {% endif %}" href="{% url 'appointment_lists' %}">
              <i class="ni ni-calendar-grid-58 text-yellow"></i>
              <span class="nav-link-text">Appointment_details</span>
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link {% if 'tables' in segment %} active {% endif %}" href="{% url 'attend_list_m' %}">
              <i class="ni ni-money-coins text-default"></i>
              <span class="nav-link-text">Discharge</span>
            </a>
          </li>
          
         

          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout1' %}">
              <i class="ni ni-user-run text-red"></i>
              <span class="nav-link-text">Logout</span>
            </a>
          </li>            
        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
       
        <!-- Navigation -->
        <ul class="navbar-nav mb-md-3">

          <li class="nav-item">
            
          </li>

          <li class="nav-item">
            
          </li>

          <li class="nav-item">
            
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>