{% extends 'layouts/base2.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}
<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Description</th>
                <th class="actions">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for Appointment in Appointments %}
                <tr>
                    <td>{{ Appointment.id }}</td>
                    <td>{{ Appointment.user.first_name }}</td> <!-- Accessing user's first name -->
                    <td>{{ Appointment.user.last_name }}</td>  <!-- Accessing user's last name -->
                    <td>{{ Appointment.description }}</td>
                    <td class="actions">
                        <a href="{% url 'attend_detail' appointment_id=Appointment.id %}" class="btn btn-update">Attend</a>

                        <!-- Delete Button with JavaScript Confirmation -->
                       
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No appointments found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

    {% include "includes/footer.html" %}
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
    <script>
        function confirmDelete() {
            return confirm('Are you sure you want to delete this appointment?');
        }
    </script>
{% endblock javascripts %}
